//shoppingcart
.shoppingcart {
    padding: 70px 0px 30px;
    .title {
      color: #3b3b3b;
      h1 {
        font-size: 35px;
      }
      &::before {
        height: 30px;
  
        left: -1px;
      }
    }
    small {
      color: #757575;
      display: inline-block;
      padding: 10px 0px;
    }
    .number {
      height: 38px;
    }
    .cartlistwrap {
      border: 1px solid #efefef;
      overflow: hidden;
      margin: 20px 0px;
    }
    .cartlistname {
      padding: 14px 0px;
      background: #fafafa;
      font-size: 15px;
      font-weight: bold;
      color: #555555;
      text-align: center;
      border: 1px solid #efefef;
    }
    .cartlistdetails {
      padding: 20px 0px;
      > div {
        display: grid;
        place-content: center;
      }
      h3 {
        font-size: 17px;
        padding: 5px 0px;
        color: #444444;
        font-weight: 400;
      }
      p {
        color: #7bae23;
        font-weight: bold;
      }
      small {
        display: block;
        font-size: 12px;
        font-style: italic;
        opacity: 0.5;
        padding: 0px;
      }
      .cartnumber {
        display: flex;
        justify-content: space-between;
        a {
          font-size: 25px;
          display: block;
          margin-left: 20px;
          color: #444444;
        }
      }
    }
    .buttnsec {
      padding: 20px 30px;
      border-top: 1px solid #efefef;
  
      button {
        padding: 10px 15px;
      }
    }
    .speaicinstruc {
      border: 1px solid #efefef;
      margin: 0px 0px 60px;
      textarea {
        width: 100%;
        border: none;
        height: 150px;
      }
    }
    .checkout {
      color: #666;
  
      a {
        margin-top: 10px;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        color: #555555;
        justify-content: space-between;
        padding: 12px 7px;
        border: 1px solid #efefef;
  
        i {
          font-size: 18px;
        }
      }
      .form-control {
        padding: 20px 20px;
      }
      p {
        color: #666;
        font-size: 14px;
        padding-bottom: 15px;
      }
      select {
        option {
          color: #666;
        }
      }
    }
  }